<nz-content>
    <div class="background fixed-font-size">
        <div nz-row class="home-text">
            <div nz-col nzSpan="12" class="text-with-border">
                    Office Supplies
            </div>
            <div nz-col nzSpan="6">
                    <button class="custom-button-large custom-button-primary custom-button-position" nz-button nzShape="round" (click)="goToNextPage()">
                        START
                      </button>
            </div>
        </div>
      </div>
</nz-content>

